# GHC build artifacts
*.hi
*.o
*.dyn_hi
*.dyn_o
*.p_hi
*.p_o
*.dSYM
ling
lingrts_gen.c
queens*.c
queens
queensDep

# Cabal / Stack output
dist/
dist-newstyle/
.stack-work/

# Emacs
*~
\#*\#
.\#*

# macOS
.DS_Store
